<?xml version="1.0" encoding="utf-8" ?>

<config>
    <scanUrl>http://testphp.vulnweb.com</scanUrl>
    <receiveMailList>
        <mail>oneradish@qq.com</mail>
        <mail>no_name_ll@qq.com</mail>
    </receiveMailList>
    <!-- wvs configuration -->
    <CustomCookies>
        <!--
            Cookie_url: cookie's url
            Cookie_string:cookie's value
            Cookie_enable: The 1 is enable,and the 0 is disable
        -->
        <Cookie_url>1</Cookie_url>
        <Cookie_string>1</Cookie_string>
        <Cookie_enable>1</Cookie_enable>
    </CustomCookies>
    <!--<WvsConfigFile>C:\ProgramData\Acunetix WVS 10\Data\General\settings.xml</WvsConfigFile>-->
    <!-- wvs configuration end -->

    <filter>
        <PathExclude>
            <!-- 可以添加多个 -->
            <!-- enable=1 是勾选，enable=0 是没有勾选 -->
            <Mask enabled="1" isRegex="0">wp-admin</Mask>
            <Mask enabled="1" isRegex="1">/wp-admin/*</Mask>
        </PathExclude>

        <Extensions>
            <!-- 可以添加多个 -->
            <Mask>*.mp3</Mask>
            <Mask>logout.php</Mask>
        </Extensions>
    </filter>

    <saveDir>c:\temp\scanResults</saveDir>
</config>