<html>
<link href="webstyle.css" rel="stylesheet" type="text/css">
<body>
<div class="categorytitle">Application Settings</div>
<div class="category">

<div class="linkdiv">
<a class="buttondiv" href="wvs:settings_general"><img border=0 src="../Graphics/general.gif" width="16" height="16" hspace="8">General</a>
<div class="buttontextdiv">General application behavior settings. Here you can set Update settings, HTTP general settings and you can set how HTTP requests will be made.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:settings_lan"><img border=0 src="../Graphics/settings.gif" width="16" height="16" hspace="8">LAN Settings</a>
<div class="buttontextdiv">HTTP and Socks proxy options.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:settings_database"><img border=0 src="../Graphics/db.gif" width="16" height="16" hspace="8">Database</a>
<div class="buttontextdiv">Database support option.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:settings_certificates"><img border=0 src="../Graphics/certificate16x16.gif" width="16" height="16" hspace="8">Certificates</a>
<div class="buttontextdiv">Some websites require authentication using client certificates.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:settings_logging"><img border=0 src="../Graphics/logging.gif" width="16" height="16" hspace="8">Logging</a>
<div class="buttontextdiv">Configure application logging.</div>
</div>

</div>

</body>
</html>