<html>
<link href="webstyle.css" rel="stylesheet" type="text/css">
<body> 
<div class="categorytitle">Compare Results</div>
<div class="category">
<div><strong>Comparison results are available.</strong></div>
You can inspect  any of the compared scanned results by clicking on either left or right tree nodes.<br/>
If you click on the middle tree nodes you can inspect the differences.
</div>			
			
<div class="categorytitle">Comparison Legend</div>
<div class="category">
<table width="90%" border="0" cellspacing="1" cellpadding="2" bgcolor="#CCCCCC" align="center">
	<tr>
		<td width="24" bgcolor="#FFFFFF">&nbsp;</td>
		<td width="24" bgcolor="#FFFFFF"><div align="center"><img src="../Graphics/cmp-same.gif" width="16" height="22"></div></td>
		<td width="24" bgcolor="#FFFFFF">&nbsp;</td>
		<td bgcolor="#FFFFFF">There are no changes. </td>
	</tr>
	<tr>
		<td bgcolor="#F0F0F0">&nbsp;</td>
		<td bgcolor="#F0FFF0"><div align="center"><img src="../Graphics/cmp-added.gif" width="16" height="22"></div></td>
		<td bgcolor="#F0FFF0">&nbsp;</td>
		<td bgcolor="#FFFFFF"> This item was added in the new version. </td>
	</tr>
	<tr>
		<td bgcolor="#FFF0F0">&nbsp;</td>
		<td bgcolor="#FFF0F0"><div align="center"><img src="../Graphics/cmp-removed.gif" width="16" height="22"></div></td>
		<td bgcolor="#F0F0F0">&nbsp;</td>
		<td bgcolor="#FFFFFF">This item was deleted from the new version. </td>
	</tr>
	<tr>
		<td bgcolor="#F0F0FF">&nbsp;</td>
		<td bgcolor="#F0F0FF"><div align="center"><img src="../Graphics/cmp-modified1.gif" width="16" height="22"></div></td>
		<td bgcolor="#F0F0FF">&nbsp;</td>
		<td bgcolor="#FFFFFF">This item was changed in the new version.</td>
	</tr>
</table>
</div>
			
</body>

</html>