<html>
<link href="webstyle.css" rel="stylesheet" type="text/css">
<body>
<div class="categorytitle">Configuration</div>
<div class="category">

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_App_Settings"><img border=0 src="../Graphics/app_settings.gif" width="16" height="16" hspace="8">Application Settings</a>
<div class="buttontextdiv">Configure Acunetix Web Vulnerability Scanner and its many tools</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_Scan_Settings"><img border=0 src="../Graphics/scan_settings.gif" width="16" height="16" hspace="8">Scan Settings</a>
<div class="buttontextdiv">Configure Acunetix scanning engine</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_ScanningProfiles"><img border=0 src="../Graphics/profile.gif" width="16" height="16" hspace="8">Scanning Profiles</a>
<div class="buttontextdiv">Configure the tests performed during vulnerability scans, and save modified scan parameters as custom profiles</div>
</div>
</div>
</body>
</html>