<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=windows-1252'>
<style>
			body
			{
				font-family:verdana, arial,  serif;
				font-size:7pt;
				color:787878;
				margin: 0px;
				background-color:#e6e6e6;
				vertical-align:middle;
				border-top: 1px solid #CCCCCC;
				padding: 1px;
			}
</style>
</head>

<body>
<div style="float:left; height:17px"><img src="../Graphics/logo_bw.png" width="18" height="13" style="vertical-align:middle; margin-left:4px;"> <div style="margin-left:4px; display:inline; vertical-align:middle;" id="replace_Copyright"></div></div><div style="float:right; margin-right: 4px; height:17px" id="replace_LongVersionInfo"></div> 
</body>
</html>



