<html>
<head><link href="webstyle.css" rel="stylesheet" type="text/css"/></head>
<body>
<div class="categorytitle">Character Generator</div>
<div class="category">
  <div class="subtitlediv">Description</div>
	<div style="margin-bottom:16px;">This is a character  generator. It will generate all the ASCII characters contained between <strong>Start character</strong> and <strong>Stop character</strong>.</div>
  <div class="subtitlediv">Details</div>
	<div>
		Parameter description
		<ul>
			<li><strong>Start character </strong>, <strong>Stop character </strong> - The ASCII values from which to start and which to stop</li>
			<li><strong>Increment</strong> - the increment to be used (default is 1) </li>
			<li><strong>Enc</strong> - Use this optional parameter to encode the result (as Base64 for example).</li>
    </ul>
	</div>
</div>
</body>
</html>