<html>
<head><link href="webstyle.css" rel="stylesheet" type="text/css"/></head>
<body>
<div class="categorytitle">Number Generator</div>
<div class="category">
  <div class="subtitlediv">Description</div>
	<div style="margin-bottom:16px;">This is a number generator. It will generate all the numbers from<strong> Start number</strong> to <strong>Stop number</strong> using the <strong>Increment</strong> specified.</div>
  <div class="subtitlediv">Details</div>
	<div>
		Parameter description
     <ul>
        <li><strong>Start number</strong>, <strong>Stop number</strong> - From which number to start and at which to stop</li>
        <li><strong>Increment</strong> - The increment to be used (default is 1) </li>
        <li><strong>Enc</strong>  - Use this optional parameter to encode the result (as Base64 for example).</li>
    </ul>
	</div>
</div>
</body>
</html>