<html>
<head><link href="webstyle.css" rel="stylesheet" type="text/css"/></head>
<body>
<div class="categorytitle">Random String Generator</div>
<div class="category">
  <div class="subtitlediv">Description</div>
	<div style="margin-bottom:16px;">This is a random string generator.It will generate a specified number of random strings with the characters from <strong>Character set</strong>  of a given length.</div>
  <div class="subtitlediv">Details</div>
	<div>
		Parameter description
     <ul>
        <li><strong>String length </strong><strong></strong> - The length of the strings to be generated</li>
        <li><strong>Character set </strong> - The set of characters to be used. You can define range of characters by brackets (e.g. <strong>[a-z]</strong> - all the characters from a to z), you can specify a character by its hexadecimal code, e.g.<strong> %20</strong> to specify the space character. If you want to use the characters<strong> \,[,],%</strong> you need to use \ to escape them. Sample set: <strong>[a-z] %20 \\</strong> - This will include all the characters from a to z, the space character and the \ character.)</li>
        <li><strong>Allow repetitions</strong> - Specify if repetitions of characters are allowed or not</li>
        <li><strong>Number of strings </strong> - Number of random string to be generated</li>
        <li><strong>Enc</strong> - Use this optional parameter to encode the result (as Base64 for example).</li>
    </ul>
	</div>
</div>
</body>
</html>