<html>
<link href="webstyle.css" rel="stylesheet" type="text/css">
<body>
<div class="categorytitle">General</div>
<div class="category">

<div class="linkdiv">
<a class="buttondiv" href="#tool_action_Action_IE,file:\\%PRODCOMMONAPPDIR%Data\Templates\VersionInformation.html"><img border=0 src="../Graphics/version.gif" width="16" height="16" hspace="8">Version Info</a>
<div class="buttontextdiv">Identify your version and build number from here.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#tool_action_Action_IE,file:\\%PRODCOMMONAPPDIR%Data\Templates\Licensing.html"><img border=0 src="../Graphics/licensing.gif" width="16" height="16" hspace="8">Licensing</a>
<div class="buttontextdiv">From here you can verify and adjust licensing details.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#tool_action_Action_IE,http://www.acunetix.com/support/"><img border=0 src="../Graphics/ie.gif" width="16" height="16" hspace="8">Support</a>
<div class="buttontextdiv">Support page from Acunetix website.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#tool_action_Action_IE,http://www.acunetix.com/ordering.htm"><img border=0 src="../Graphics/ie.gif" width="16" height="16" hspace="8">How to Purchase</a>
<div class="buttontextdiv">Information about how to purchase the product from Acunetix website.</div>
</div>

</div>
</body>
</html>