<html>
<link href="webstyle.css" rel="stylesheet" type="text/css">
<body>
<div class="categorytitle">General</div>
<div class="category">

<div class="linkdiv">
<a class="buttondiv" href="#tool_action_Action_Update,file:\\%PRODCOMMONAPPDIR%Data\Templates\ProgramUpdates.html"><img border=0 src="../Graphics/update.gif" width="16" height="16" hspace="8">Program Updates</a>
<div class="buttontextdiv">Check for new product updates and install them</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#tool_action_Action_IE,file:\\%PRODCOMMONAPPDIR%Data\Templates\VersionInformation.html"><img border=0 src="../Graphics/version.gif" width="16" height="16" hspace="8">Version Info</a>
<div class="buttontextdiv">Check the current version and build number</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#tool_action_Action_IE,file:\\%PRODCOMMONAPPDIR%Data\Templates\Licensing.html"><img border=0 src="../Graphics/licensing.gif" width="16" height="16" hspace="8">Licensing</a>
<div class="buttontextdiv">Verify your licensing details</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#tool_action_Action_IE,http://www.acunetix.com/support/index.htm"><img border=0 src="../Graphics/ie.gif" width="16" height="16" hspace="8">Support</a>
<div class="buttontextdiv">Browse the Support page on the Acunetix website</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#tool_action_Action_IE,http://www.acunetix.com/ordering/"><img border=0 src="../Graphics/ie.gif" width="16" height="16" hspace="8">How to Purchase</a>
<div class="buttontextdiv">Pricing and purchasing information</div>
</div>

</div>
</body>
</html>