<html>
<head><link href="webstyle.css" rel="stylesheet" type="text/css"></head>
<body> 
<div class="categorytitle">License Information</div>
<div class="category">
	<div id="replace_ProductNameLong" class="subtitlediv"></div>
	<div style="padding-left: 8px; margin-bottom: 8px;">
  <table border="0" cellspacing="1" cellpadding="3" bgcolor="#F5F5F5">
    <tr>
      <td bgcolor="#F5F5F5"><b>Product status</b></td><td bgcolor="#FFFFFF"><span id="replace_LicenseStatus"></span>&nbsp&nbsp<font color="dark"><span id="replace_ExpirationText"></span></font></td>
    </tr>
    <tr>
      <td bgcolor="#F5F5F5"><b>Product type</b></td><td bgcolor="#FFFFFF"><span id="replace_ProductType"></span></td>
    </tr>
    <tr>
      <td bgcolor="#F5F5F5"><b>Maintenance status</b></td><td bgcolor="#FFFFFF"><span id="replace_Maintenance"></span></td>
    </tr>    
    <tr>
      <td bgcolor="#F5F5F5"><b>License key</b></td><td bgcolor="#FFFFFF"><span id="replace_LicenseKey"></span></td>
    </tr>    
  </table>
	</div>
</div>
</body>

</html>