<html>
<head><link href="webstyle.css" rel="stylesheet" type="text/css"></head>
<body>

<div class="categorytitle">Reporter Settings</div>
<div class="category">

<div class="linkdiv">
<a class="buttondiv" href="wvs:Select_Database_Node"><img border=0 src="../Graphics/database.gif" width="16" height="16" hspace="8">Database</a>
<div class="buttontextdiv">Browse the database.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:Select_Settings_Node"><img border=0 src="../Graphics/settings.gif" width="16" height="16" hspace="8">Settings</a>
<div class="buttontextdiv">Access the reporter tool options.</div>
</div>

</div>

</body>
</html>