<html>
<head><link href="webstyle.css" rel="stylesheet" type="text/css"/></head>
<body>
<div class="categorytitle">Common Tasks</div>
<div class="category">
<div class="linkdiv">
<a class="buttondiv" href="wvs:ReportWizard"><img border=0 src="../Graphics/reportwizard.gif" width="16" height="16" hspace="8">Report Wizard</a>
<div class="buttontextdiv">Starts the generate report wizard dialog where you can chose the source of the report.</div>
</div>
<div class="linkdiv">
<a class="buttondiv" href="wvs:GenerateReport"><img border=0 src="../Graphics/generatereport.gif" width="16" height="16" hspace="8">Generate Report</a>
<div class="buttontextdiv">Generate a report from the previously selected scan results.</div>
</div>
</div>

<div class="categorytitle">Report Details</div>
<div class="category">
	<div id="divReportTitle" class="subtitlediv">Loading ...</div>
	<div id="divReportDescription">Loading ...</div>
</div>

</body>
</html>
