<html>
<head>
<link href="webstyle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="categorytitle">Report Preview</div>
<div class="category">
  <p>No report was generated. You can either load a saved report preview or select a report template from tools explorer and generate a report.</p>
  <div class="linkdiv"><a class="buttondiv" href="wvs:Load_Report_Preview"><img border=0 src="../Graphics/open.gif" width="16" height="16" hspace="8">Load Report</a>
    <div class="buttontextdiv">From here you can load a previously saved report preview.</div>
  </div>
</div>
</body>
</html>
