<html>
<link href="webstyle.css" rel="stylesheet" type="text/css">
<body>
<div class="categorytitle">Scanner settings</div>
<div class="category">

<div class="linkdiv">
<a class="buttondiv" href="wvs:settings_scanner"><img border=0 src="../Graphics/scan.gif" width="16" height="16" hspace="8">Scanner</a>
<div class="buttontextdiv">Settings for the scanner tool.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:settings_loginseq"><img border=0 src="../Graphics/users.gif" width="16" height="16" hspace="8">Login Sequences</a>
<div class="buttontextdiv">Define login sequences for websites that require HTML authentication.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:settings_html_forms"><img border=0 src="../Graphics/htmlforms16x16.gif" width="16" height="16" hspace="8">Input Fields</a>
<div class="buttontextdiv">Define a list of input field values to be set automatically when submitting HTML forms or web services.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:settings_manipulation"><img border=0 src="../Graphics/htmlforms16x16.gif" width="16" height="16" hspace="8">Manipulation</a>
<div class="buttontextdiv">Here you can adjust the settings for parameter manipulation module. You can enable or disable stored XSS (cross site scripting) checks and adjust HTTP header checks.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:settings_exclusion"><img border=0 src="../Graphics/htmlforms16x16.gif" width="16" height="16" hspace="8">Exclusions</a>
<div class="buttontextdiv">Define a list of parameters that will be excluded from scanning.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:settings_custom404"><img border=0 src="../Graphics/404-16x16.gif" width="16" height="16" hspace="8">Custom 404</a>
<div class="buttontextdiv">Define custom 404 pages.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:settings_ghdb"><img border=0 src="../Graphics/ghdb16x16.gif" width="16" height="16" hspace="8">GHDB</a>
<div class="buttontextdiv">Settings for Google hacking database.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:settings_aop"><img border=0 src="../Graphics/sensoricon16.gif" width="16" height="16" hspace="8">AcuSensor</a>
<div class="buttontextdiv">AcuSensor configuration.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:settings_portscanner"><img border=0 src="../Graphics/radar.gif" width="16" height="16" hspace="8">Port Scanner</a>
<div class="buttontextdiv">Settings for Port Scanner.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:settings_falsepositives"><img border=0 src="../Graphics/finetune.gif" width="16" height="16" hspace="8">False Positives</a>
<div class="buttontextdiv">From here you can remove False Positives added by mistake.</div>
</div>

</div>

</body>
</html>