<html>
<link href="webstyle.css" rel="stylesheet" type="text/css">
<body>
<div class="categorytitle">Tool Settings</div>
<div class="category">

<div class="linkdiv">
<a class="buttondiv" href="wvs:settings_crawler"><img border=0 src="../Graphics/crawler.gif" width="16" height="16" hspace="8">Site Crawler</a>
<div class="buttontextdiv">Settings for the site crawler tool.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:settings_sniffer"><img border=0 src="../Graphics/proxy.gif" width="16" height="16" hspace="8">HTTP Sniffer</a>
<div class="buttontextdiv">Settings for the HTTP sniffer tool.</div>
</div>

</div>

</body>
</html>