<html>
<link href="webstyle.css" rel="stylesheet" type="text/css">

<body>

<div class="categorytitle">Tools</div>
<div class="category">

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_Crawler"><img border=0 src="../Graphics/crawler.gif" width="16" height="16" hspace="8">Site Crawler</a>
<div class="buttontextdiv">Maps a web site by tracing all references links and gathering information about every discovered site file (such as scripts with inputs with possible values, file structure)</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_TargetFinder"><img border=0 src="../Graphics/find.gif" width="16" height="16" hspace="8">Target Finder</a>
<div class="buttontextdiv">Discovers any HTTP/S servers on an IP range, with the option to scan identified servers for vulnerabilities</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_SubdomainScanner"><img border=0 src="../Graphics/subdomain.gif" width="16" height="16" hspace="8">Subdomain Scanner</a>
<div class="buttontextdiv">Identifies new and unlisted subdomains from a higher-level domain, with the option to scan discovered entities for vulnerabilities</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_BlindSQLInject"><img border=0 src="../Graphics/database_blue.gif" width="16" height="16" hspace="8">Blind SQL Injector</a>
<div class="buttontextdiv">Automatically exploits SQL injection to extract data from the database used on the server</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_HTTPEditor"><img border=0 src="../Graphics/httpedit.gif" width="16" height="16" hspace="8">HTTP Editor</a>
<div class="buttontextdiv">Enables construction of custom HTTP/S requests for analysis of the server's response</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_Proxy"><img border=0 src="../Graphics/proxy.gif" width="16" height="16" hspace="8">HTTP Sniffer</a>
<div class="buttontextdiv">HTTP proxy for logging, capturing, and modification of all intercepted HTTP/HTTPS traffic</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_Fuzzer"><img border=0 src="../Graphics/webappscan.gif" width="16" height="16" hspace="8">HTTP Fuzzer</a>
<div class="buttontextdiv">Tests for vulnerabilities like buffer overflows and input validation by fuzzing request headers and parameters</div>
</div>


<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_AuthTester"><img border=0 src="../Graphics/authtester.gif" width="16" height="16" hspace="8">Authentication Tester</a>
<div class="buttontextdiv">Tests password strength by performing dictionary-based attacks on basic HTTP, NTLM, or form based authentication methods</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_Compare"><img border=0 src="../Graphics/compare.gif" width="16" height="16" hspace="8">Compare Results </a>
<div class="buttontextdiv">Compares saved scan results and displays differences</div>
</div>

</div>
</body>
</html>