<html>
<link href="webstyle.css" rel="stylesheet" type="text/css">
<body>
<div class="categorytitle">Version Information</div>
<div class="category">
  <div class="subtitlediv" id="replace_ProductNameLong"></div>
  <div style="padding-left: 8px; margin-bottom: 8px;">
    <div style="padding-bottom: 5px"><span id="replace_Copyright"></span></div>
    <table border="0" cellspacing="1" cellpadding="3" bgcolor="#F5F5F5">
      <tr>
        <td bgcolor="#F5F5F5"><b>Version</b></td><td bgcolor="#FFFFFF"><span id="replace_VersionInfo"></span></td>
      </tr>
      <tr>
        <td bgcolor="#F5F5F5"><b>Build</b></td><td bgcolor="#FFFFFF"><span id="replace_Build"></span></td>
      </tr>
    </table>
  </div>
  <div class="linkdiv"> <a class="buttondiv" href="#tool_action_Action_Update,file:\\%PRODCOMMONAPPDIR%Data\Templates\ProgramUpdates.html"><img border=0 src="../Graphics/update.gif" width="16" height="16" hspace="8">Program Updates</a>
    <div class="buttontextdiv">Check for new product updates and install them</div>
  </div>
</div>
</body>
</html>
