<html>
<link href="webstyle.css" rel="stylesheet" type="text/css">
<body>

<div class="categorytitle">Web Services</div>
<div class="category">

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_WebServicesScanner"><img border=0 src="../Graphics/ws_scan.gif" width="16" height="16" hspace="8">WS Scanner</a>
<div class="buttontextdiv">Automatic vulnerability scanner for web services</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_WebServicesEditor"><img border=0 src="../Graphics/ws_edit.gif" width="16" height="16" hspace="8">WS Editor</a>
<div class="buttontextdiv">Enables construction of custom SOAP requests for analysis of server responses</div>
</div>

</div>
</body>
</html>