<html>
<link href="webstyle.css" rel="stylesheet" type="text/css">
<body>

<div class="categorytitle">Acunetix Web Vulnerability Scanner</div>
<div class="category">

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_WebScanner"><img border=0 src="../Graphics/webappscan.gif" width="16" height="16" hspace="8">Web Scanner</a>
<div class="buttontextdiv">Scan your web applications automatically for vulnerabilities</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#tool_action_Action_IE,file:\\%PRODCOMMONAPPDIR%Data\Templates\Tools.html"><img border=0 src="../Graphics/category.gif" width="16" height="16" hspace="8">Tools</a>
<div class="buttontextdiv">Customize your security assessments with an extensive set of tools</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#tool_action_Action_IE,file:\\%PRODCOMMONAPPDIR%Data\Templates\WebServices.html"><img border=0 src="../Graphics/category.gif" width="16" height="16" hspace="8">Web Services</a>
<div class="buttontextdiv">Scan your web services automatically for vulnerabilities</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#tool_action_Action_IE,file:\\%PRODCOMMONAPPDIR%Data\Templates\Configuration.html"><img border=0 src="../Graphics/category.gif" width="16" height="16" hspace="8">Configuration</a>
<div class="buttontextdiv">Application preferences and scanning profiles</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#tool_action_Action_IE,file:\\%PRODCOMMONAPPDIR%Data\Templates\General.html"><img border=0 src="../Graphics/category.gif" width="16" height="16" hspace="8">General</a>
<div class="buttontextdiv">Check for product updates, find help, and modify your license</div>
</div>

</div>

<div class="categorytitle">Common Tasks</div>
<div class="category">

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_NewScan"><img border=0 src="../Graphics/new.gif" width="16" height="16" hspace="8">New Scan</a>
<div class="buttontextdiv">Start a new website scan</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#open_scan_session_%PRODCOMMONAPPDIR%Data\Samples\acuart.wvs"><img border=0 src="../Graphics/scan.gif" width="16" height="16" hspace="8">Sample Scan</a>
<div class="buttontextdiv">Load the results from a sample scan session</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_NewWSScan"><img border=0 src="../Graphics/ws_scan.gif" width="16" height="16" hspace="8">New WS Scan</a>
<div class="buttontextdiv">Start a new web service scan</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_OpenFile,%PRODINSTALLDIR%\Reporter.exe"><img border=0 src="../Graphics/reporter.gif" width="16" height="16" hspace="8">Reporter</a>
<div class="buttontextdiv">View, customize, and publish vulnerability reports</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#menu_action_Action_SchedulerUI"><img border=0 src="../Graphics/scheduler.gif" width="16" height="16" hspace="8">Scheduler</a>
<div class="buttontextdiv">Schedule an automated scan</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="#scansettings_Aspect"><img border=0 src="../Graphics/sensoricon16.gif" width="16" height="16" hspace="8">AcuSensor</a>
<div class="buttontextdiv">Enable and configure AcuSensor</div>
</div>

</div>

<div id="divFeed" style="display:none">
<div class="categorytitle" id="divBlogTitle">Acunetix Web Application Security Blog</div>
  <div class="category" id="divBlogItems">
  </div>
</div>

<!--<script language="javascript" src="rss.js"></script>-->
</body>
</html>
