<html>
<head><link href="webstyle.css" rel="stylesheet" type="text/css"></head>
<body>

<div class="categorytitle">Common Tasks</div>
<div class="category">

<div class="linkdiv">
<a class="buttondiv" href="wvs:Generate_Default_Report"><img border=0 src="../Graphics/generatereport.gif" width="16" height="16" hspace="8">Generate Report</a>
<div class="buttontextdiv">Generate a report from the last saved scan results using the default report template.</div>
</div>

</div>

<div class="categorytitle">Acunetix WVS Reporter Tool</div>
<div class="category">

<div class="linkdiv">
<a class="buttondiv" href="wvs:Select_Default_Report_Node"><img border=0 src="../Graphics/report.gif" width="16" height="16" hspace="8">Default Report</a>
<div class="buttontextdiv">Default report template.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:Select_Report_Preview_Node"><img border=0 src="../Graphics/report_preview.gif" width="16" height="16" hspace="8">Report Preview</a>
<div class="buttontextdiv">View prepared reports.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:Select_Database_Node"><img border=0 src="../Graphics/database.gif" width="16" height="16" hspace="8">Database</a>
<div class="buttontextdiv">Browse the database.</div>
</div>

<div class="linkdiv">
<a class="buttondiv" href="wvs:Select_Settings_Node"><img border=0 src="../Graphics/settings.gif" width="16" height="16" hspace="8">Settings</a>
<div class="buttontextdiv">Access the reporter tool options.</div>
</div>

</div>

</body>
</html>